<div class="bg-green-900 font-bold px-3 py-5 text-white text-lg">
    <a href="{{ config('markdown.uiHomeLink.link', '/') }}">
        {{ config('markdown.uiHomeLink.text', 'Home') }}
    </a>
</div>
