<!doctype html>
<html>
<head>
    @include('adonis-markdown/managed-markdown/partials/head')
    @section('title')
        <title>Markdown</title>
    @end
</head>
<body class="bg-neutral-900 text-neutral-200">
    @!section('body')
</body>
</html>
